html,
body {
    height: 100%;
}
body {
    background: map-get($colours, primary);
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 30px;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: map-get($colours, dark);
}

footer {
    flex-shrink: 0;
    justify-content: space-between;
    background: map-get($colours, secondary);
    margin-top: 2rem;
    font-size: 0.8em;
    color: map-get($colours, "grey");
    padding: 2em;


    p {
        font-size: 12px;
        font-family: 'Archivo Narrow', sans-serif;
        padding: 0 5px;
    }
}

.wrapper {
    flex: 1 0 auto;
}
